/* Error: Undefined mixin.
 *    ,
 * 1  | / @include mq('xl') {
 * 2  | |     // Cambiar tamaños en estas lineas
 * 3  | |     .banner {
 * 4  | |         font-size: 2.0em;
 * 5  | |     }
 * 6  | |     .servicios {
 * 7  | |         font-size: 1.1em;
 * 8  | |     }
 * 9  | |     .top-header {
 * 10 | |         font-size:28px;
 * 11 | |     }
 * 12 | |     .main-header {
 * 13 | |         font-size:21px;
 * 14 | |     }
 * 15 | |     .tasaciones {
 * 16 | |         font-size: em(15px);
 * 17 | |     }
 * 18 | |     .container {
 * 19 | |         // Espacio de dos lados del contenedor
 * 20 | |         //margin: 0 em(11px);
 * 21 | |         width:100%;
 * 22 | |         max-width:$container-width;
 * 23 | |         margin:0 auto;
 * 24 | |     }
 * 25 | |     .main-header {
 * 26 | |         font-weight:600;
 * 27 | |         background:$blanco;
 * 28 | |         height:auto;
 * 29 | |         -webkit-box-shadow: 0px 6px 5px 0px rgba(0,0,0,0.16);
 * 30 | |         -moz-box-shadow: 0px 6px 5px 0px rgba(0,0,0,0.16);
 * 31 | |         box-shadow: 0px 6px 5px 0px rgba(0,0,0,0.16);
 * 32 | |         &__logo {
 * 33 | |             img {
 * 34 | |                 height:em(55px);
 * 35 | |                 position:relative;
 * 36 | |                 transform:translateX(-7%);
 * 37 | |             }
 * 38 | |         }
 * 39 | |         &__container {
 * 40 | |             height:auto;
 * 41 | |         }
 * 42 | |     }
 * 43 | |     .banner {
 * 44 | |         margin-top:0;
 * 45 | |         height:100vh;
 * 46 | |         &__info {
 * 47 | |             max-width:$container-width;
 * 48 | |         }
 * 49 | |         &__titulo {
 * 50 | |             padding:0;
 * 51 | |         }
 * 52 | |         &__descripcion {
 * 53 | |             font-size:em(9px);
 * 54 | |         }
 * 55 | |     }
 * 56 | \ }
 *    '
 *   sass/partials/laptop.scss 1:1  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined mixin.\a    \2577 \a 1  \2502  \250c  @include mq('xl') {\a 2  \2502  \2502      // Cambiar tamaños en estas lineas\a 3  \2502  \2502      .banner {\a 4  \2502  \2502          font-size: 2.0em;\a 5  \2502  \2502      }\a 6  \2502  \2502      .servicios {\a 7  \2502  \2502          font-size: 1.1em;\a 8  \2502  \2502      }\a 9  \2502  \2502      .top-header {\a 10 \2502  \2502          font-size:28px;\a 11 \2502  \2502      }\a 12 \2502  \2502      .main-header {\a 13 \2502  \2502          font-size:21px;\a 14 \2502  \2502      }\a 15 \2502  \2502      .tasaciones {\a 16 \2502  \2502          font-size: em(15px);\a 17 \2502  \2502      }\a 18 \2502  \2502      .container {\a 19 \2502  \2502          // Espacio de dos lados del contenedor\a 20 \2502  \2502          //margin: 0 em(11px);\a 21 \2502  \2502          width:100%;\a 22 \2502  \2502          max-width:$container-width;\a 23 \2502  \2502          margin:0 auto;\a 24 \2502  \2502      }\a 25 \2502  \2502      .main-header {\a 26 \2502  \2502          font-weight:600;\a 27 \2502  \2502          background:$blanco;\a 28 \2502  \2502          height:auto;\a 29 \2502  \2502          -webkit-box-shadow: 0px 6px 5px 0px rgba(0,0,0,0.16);\a 30 \2502  \2502          -moz-box-shadow: 0px 6px 5px 0px rgba(0,0,0,0.16);\a 31 \2502  \2502          box-shadow: 0px 6px 5px 0px rgba(0,0,0,0.16);\a 32 \2502  \2502          &__logo {\a 33 \2502  \2502              img {\a 34 \2502  \2502                  height:em(55px);\a 35 \2502  \2502                  position:relative;\a 36 \2502  \2502                  transform:translateX(-7%);\a 37 \2502  \2502              }\a 38 \2502  \2502          }\a 39 \2502  \2502          &__container {\a 40 \2502  \2502              height:auto;\a 41 \2502  \2502          }\a 42 \2502  \2502      }\a 43 \2502  \2502      .banner {\a 44 \2502  \2502          margin-top:0;\a 45 \2502  \2502          height:100vh;\a 46 \2502  \2502          &__info {\a 47 \2502  \2502              max-width:$container-width;\a 48 \2502  \2502          }\a 49 \2502  \2502          &__titulo {\a 50 \2502  \2502              padding:0;\a 51 \2502  \2502          }\a 52 \2502  \2502          &__descripcion {\a 53 \2502  \2502              font-size:em(9px);\a 54 \2502  \2502          }\a 55 \2502  \2502      }\a 56 \2502  \2514  }\a    \2575 \a   sass/partials/laptop.scss 1:1  root stylesheet";
}
