//@todo
// Cambiar icono baños
// agregar 'social' al footer


body {
    font-family: 'Montserrat', sans-serif;
    background:$blanco;
}


.container {
    // Espacio de dos lados del contenedor
    //margin: 0 em(11px);
    width:95%;
    margin:0 auto;
}



.header {
    position:fixed;
    // Para que no aparezca debajo del banner
    z-index:10;
    top:0;
    right:0;
    left:0;
}

// TAMAÑOS
.top-header {
    font-size:23px;
}
.main-header {
    font-size:17px;
}


.top-header {
    font-family: 'Open Sans', sans-serif;
    font-weight:600;
    width:100%;
    @include gradiente;
    color:white;
    &__container {
        height:100%;
        display:flex;
        flex-direction:row;
        flex-wrap:nowrap;
        justify-content: space-between;
        align-items: center;
        padding:em(3px) 0;
    }
    &__contact-info {
        display:flex;
        flex-direction:row;
        align-items: center;
        font-size: em(7px);
        color:white;
        height:100%;
        
        a {
            color:white;
            text-decoration: none;
            display:flex;
            align-items:center;
            height:100%;
        }
        li {
            margin-right:em(10px);
        }
        // selecciona el li del icono de instagram
        &--last li:nth-child(3){
            margin-right: 0;
        }

    }
    &__icon {
        width: 1em;
        height:1em;
        margin:em(5px);
        path {
            fill:white;
        }
        &--envelope {
            width:1.2em;
            height:1.2em;
        }
        &--instagram {
            width:1.1em;
            height:1.1em;
            margin:0;
        }
    }
}

.main-header {
    font-weight:600;
    background:$blanco;
    height:em(50px);
    -webkit-box-shadow: 0px 6px 5px 0px rgba(0,0,0,0.16);
    -moz-box-shadow: 0px 6px 5px 0px rgba(0,0,0,0.16);
    box-shadow: 0px 6px 5px 0px rgba(0,0,0,0.16);
    &__logo {
        img {
            height:em(68px);
            position:absolute;
            top:0;
            left:-11px;
        }
    }
    &__container {
        display:flex;
        flex-direction: row;
        justify-content: space-between;
        align-items:center;
        height:em(50px);
        position:relative;
    }
    &__button {
        font-size: em(12px);
        background:none;
        height:70%;
        border-left: 1px solid $negro;
        color: $negro-oscuro;
        padding: 0 0 0 em(11px);
        display:flex;
        flex-wrap: nowrap;
        align-items:center;
        &:active,&:focus {
            background:none;
            outline: none;
        }
        // padding: em(12px) em(17px);
        // -webkit-box-shadow: 5px 6px 5px 0px rgba(0,0,0,0.22);
        // -moz-box-shadow: 5px 6px 5px 0px rgba(0,0,0,0.22);
        // box-shadow: 5px 6px 5px 0px rgba(0,0,0,0.22);
    }
    .menu-wrapper {
        margin-left: em(8px);
    }
}



.banner {
    background: rgba(0,0,0,1);
    box-sizing: border-box;
    &__imagen {
        height:100%;
        width:100%;
        opacity: 0.8;
        display:block;
        object-fit: cover;
    }
    &__titulo {
        color:white;
        background: $azul;
        margin:0;
        // Aca se cambia el "container" del banner (14px de cada lado)
        padding: em(25px) 14px;
    }
    &__descripcion {
        display:none;
        font-size: em(10px);
    }
}

.servicios {
    font-weight:600;
    @include gradiente;
    color:white;
    padding:em(15px) 0;
    &__contenedor {
        display:flex;
        flex-wrap:wrap;
        justify-content: space-between;
    }
    &__elemento {
        width:31%;
        height: em(90px);
        display:flex;
        justify-content: center;
        align-items: center;
        border:1px solid white;
        border-radius:5px;
        margin:em(5px) 0;
    }
    &__link {
        text-align:center;
        padding: em(10px);
        text-decoration:none;
        color:white;
        width:100%;

    }
    &__imagen {
        height:em(45px);
        path,rect {
            fill:white;
        }
    }
    &__titulo {
        display:block;
        font-size: em(10px);
        margin-top: em(12px);
    }
}

.buscador {
    background: $blanco-oscuro;
    display:flex;
    flex-direction: column;
    -webkit-box-shadow: 0px 6px 5px 0px rgba(0,0,0,0.16);
    -moz-box-shadow: 0px 6px 5px 0px rgba(0,0,0,0.16);
    box-shadow: 0px 6px 5px 0px rgba(0,0,0,0.16);
    &__boton {
        display:flex;
        justify-content: center;
        align-items:center;
        padding: em(15px) em(11px);
    }
    &__texto {
        padding: em(15px) em(15px);
        //margin: em(10px) 0;
        border:1px solid $negro-oscuro;
        border-radius: 5px;
        text-transform: uppercase;
        text-align:left;
        font-size: em(10px);
        font-weight:500;
        margin-left: em(10px);
        color:$negro-oscuro;
        
    }
    &__icono {
        height:em(30px);
        width:em(30px);
        path {
            fill:$negro-oscuro;
        }
    }
    &__formulario {
        display:flex;
        flex-direction: row;
        flex-wrap:wrap;
        justify-content: space-between;
        padding: em(10px) 0 em(20px) 0;

    }
    &__elemento-select {
        flex-basis:47%;
        font-size: em(11px);
        background:white;
        font-family: 'Open Sans', sans-serif;
        color: gray;
        border:none;
        border-radius:2px;
        padding: em(10px) em(10px);
        margin: em(10px) 0;
        & option:hover {
            box-shadow: 0 0 10px 100px #1882A8 inset;
        }
    }

    &__elemento-boton {
        flex-basis:47%;
        font-size: em(13px);
        background:$azul-claro;
        font-family: 'Montserrat', sans-serif;
        font-weight:600;
        color: white;
        border:none;
        border-radius:5px;
        padding: em(10px) em(10px);
        margin: em(7px) 0;
    }
}

.destacados {
    padding:40px 0;
    &__titulo-seccion {
        color:$negro-oscuro;
        font-size:em(19px);
        font-weight:600;
        text-transform: uppercase;
        text-align:center;
        padding: 0 0 35px 0;
        &::after {
            content:'';
            height:2px;
            width:25%;
            background:$azul-claro;
            display:block;
            margin:0 auto;
            margin-top:em(10px);
        }
    }
    &__container {
        display:flex;
        flex-direction:column;
        justify-content: center;
    }
}

.propiedad {
    font-family: 'Open Sans', sans-serif;
    display:flex;
    justify-content: flex-start;
    margin-bottom:em(25px);
    height:em(145px);
    -webkit-box-shadow: 7px 7px 5px 0px rgba(0,0,0,0.18);
    -moz-box-shadow: 7px 7px 5px 0px rgba(0,0,0,0.18);
    box-shadow: 7px 7px 5px 0px rgba(0,0,0,0.18);
    background:white;
    &--last {
        // el ultimo elemento no tiene margin
        margin-bottom: 0;
    }
    &__contenedor-imagen {
        height:100%;
        position:relative;
        flex-basis:38%;
    }
    &__imagen {
        height:100%;
        min-width:100%;
        max-width:100%;

        object-fit: cover;
    }
    &__badge-destacado {
        position:absolute;
        text-transform:uppercase;
        color:white;
        font-weight:600;
        font-size: em(11px);
        padding: em(7px) em(12px);
        background:$azul-claro;
        left:em(10px);
        top: em(10px);
    }
    &__info {
        padding:em(15px) em(10px) em(10px) em(10px);
        flex-basis: 58%;
        display:flex;
        flex-direction: column;
        justify-content: space-between;
    }
    &__titulo {
        font-family: 'Open Sans', sans-serif;
        color:$azul-claro;
        font-size:em(15px);
        font-weight:600;
        margin-bottom:em(1px);
    }
    &__direccion {
        font-family: 'Open Sans', sans-serif;
        color:$negro-medio;
        font-size:em(10px);
    }
    &__icono {
        height:em(25px);
        width:em(25px);
        path {
            fill:$azul-claro;
        }
        &--gps,&--fecha {
            height:em(17px);
            width:em(17px);
            margin-left:em(3px);
            margin-right: em(6px);
            path {
                fill:$negro-medio;
            }
        }
    }
    &__caracteristicas {
        display:flex;
        flex-wrap: wrap;
        align-self: flex-start;
    }
    &__dato {
        flex-basis:48%;
        font-size: em(12px);
        display:flex;
        align-items:center;
        margin-bottom: em(5px);
        span {
            color: $negro-oscuro;
            font-size: em(12px);
            margin-left: em(7px);
        }
    }
    &__fecha {
        color: $negro-oscuro;
        display:flex;
        align-items:center;
        justify-content: flex-end;
        font-size:em(9px);
        border-top:1px solid $negro;
        padding-top:em(10px);
    }
}

.tasaciones {
    background:$azul;
    color:white;
    font-size:em(13px);
    padding:em(17px) 0;
    &__contenedor {
        display:flex;
        align-items: center;
        justify-content: flex-start;
        height: em(85px);
        max-width:490px;
    }
    &__contenido {
        display:flex;
        flex-direction: column;
        margin-left: em(20px);
        justify-content: flex-start;
        flex-grow:1;
    }
    &__imagen {
        height:100%;
    }
    &__cta {
        border:1px solid white;
        border-radius: em(7px);
        font-size: em(13px);
        display:block;
        font-weight:bold;
        margin-top: em(10px);
        padding: em(9px) 0;
        text-align: center;
    }
}

.footer {
    background: $negro-oscuro;
    &__container {
        display:flex;
        flex-direction: column;
    }
}

.contacto,.links, .recientes {
    display:flex;
    flex-direction: column;
    color:$gris;
    font-family: 'Open Sans', sans-serif;
    padding: em(40px) em(35px) 0 em(35px);
    &__titulo {
        font-size:em(17px);
        font-weight: 600;
        padding-bottom: em(25px);
        
    }
    &__icono {
        height:em(20px);
        width:em(20px);
        padding-right: em(7px);
        path {
            fill: $gris;
        }
    }
    &__descripcion {
        font-size:em(12px);
        padding: 0 0 em(30px) 0;
    }
    &__info {
        font-size:em(11px);
        li {
            display:flex;
            align-items: flex-start;
            margin-bottom: em(17px);
        }
        a {
            color:$gris;
        }
    }
    &__mapa {
        margin: em(30px) 0;
        width:100%;
    }
}
.links {
    display:none;

    &__info {
        margin-left: em(30px);
        >li {
            flex-direction: column;
            margin-bottom: em(30px);
            position:relative;
            &::before {
                content:">";
                color:$gris;
                display:inline-block;
                position:absolute;
                left: em(-13px);
            }
        }
        li ul {
            padding-top: em(30px);
            padding-left:em(65px);
        }
        li ul li {
            margin-bottom: em(26px);
        }
        li ul li:last-child {
            margin:0;
            
        }
    }
}

.recientes {
    &__info {
        display:flex;
        flex-direction: column;
    }
}

.propiedad-reciente {
    &__link {
        width:100%;
        display:flex;
        align-items: stretch;
        flex-wrap:nowrap;
        text-decoration: none;
        margin: em(25px) 0 em(11px) 0;
    }
    &__contenido {
        font-size:em(17px);
        margin-left: em(25px);
        display:flex;
        align-self:stretch;
        flex-direction:column;
        justify-content: space-between;
    }
    &__titulo {
        font-size: 1.3em;
        color: $azul-claro;
        text-decoration: none;
    }
    &__imagen {
        width:18%;
        object-fit: cover;
    }
    &__fecha {
        font-size:0.9em;
    }
    &__precio {
        font-size:1.10em;
    }

}
.copyright {
    font-family: 'Open Sans', sans-serif;
    color:$gris;
    font-size: em(11px);
    text-align:center;
    border-top:1px solid #888;
    margin: 0 14px;
    a {
        display:block;
        color:$azul-claro;
        text-decoration: none;
    }
    padding: em(25px) 0 ;
}

.navegacion {
    border-top: 5px solid $azul-claro;
    border-bottom: 5px solid $azul-claro;
    display:none;
    position:absolute;
    background:$blanco;
    margin:0;
    right:0;
    top: 70px;
    width:100%;
    border-radius: 5px 0 0 5px;
    &__contenedor {
        display:flex;
        flex-direction:column;
    }
    &__link {
        white-space: nowrap;
        overflow: hidden;
        text-decoration:none;
        color:black;
        padding: em(25px) em(25px);
        width:100%;
        text-align:right;
    }
    &__elemento {
        overflow: hidden;
        font-size: em(12px);
        display:flex;
        justify-content: flex-end;
        border-radius:5px;
        width:100%;
        &:nth-child(2n) {
            background: #dde;
        }
    }
}