
#slider {
    position: relative;
    overflow: hidden;
    border-radius: 4px;
    font-size:0.65em;
    margin:0 auto;
  }
  
  #slider ul {
    position: relative;
    margin: 0;
    padding: 0;
    height: em(200px);
    list-style: none;
  }
  
  #slider ul li {
    position: relative;
    display: block;
    float: left;
    margin: 0;
    padding: 0;
    width: em(500px);
    height: em(300px);
    background: #ccc;
    text-align: center;
    line-height: em(300px);
  }
  
  a.control_prev, a.control_next {
    position: absolute;
    top: 40%;
    z-index: 1;
    display: block;
    padding: 4% 3%;
    width: auto;
    height: auto;
    background: #2a2a2a;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    opacity: 0.8;
    cursor: pointer;
  }
  
  a.control_prev:hover, a.control_next:hover {
    opacity: 1;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
  
  a.control_prev {
    border-radius: 0 2px 2px 0;
  }
  
  a.control_next {
    right: 0;
    border-radius: 2px 0 0 2px;
  }
  
  .slider_option {
    position: relative;
    margin: 10px auto;
    width: em(160px);
    font-size: 18px;
  }

  .slider__imagen {
      width:100%;
      height:100%;
      object-fit: cover;
  }