@include mq('lg') {
    // Cambiar tamaños en estas lineas
    .buscador {
        font-size:1.1em;
    }
    .banner {
        font-size: 1.6em;
    }
    .top-header {
        font-size:28px;
    }
    .main-header {
        font-size:19px;
    }
    .tasaciones {
        font-size: em(15px);
    }
    // Fin tamaños
    .banner {
        position:relative;
        display:flex;
        align-items: center;
        justify-content: center;
        &__imagen {
            opacity:0.65;
        }
        &__info {
            position:absolute;
            display:flex;
            flex-direction: column;
            padding:0 em(45px);
        }
        &__titulo {
            background:none;
            display:inline-block;
            padding:0;
            margin:0;
            color:white;
        }
        &__descripcion {
            margin-top:em(30px);
            display:inline-block;
            color:white;
            width:50%;
            align-self:flex-end;
            padding-left: em(30px);
            border-left: 1px solid white;
        }
    }
    .servicios {
        &__contenedor {
            flex-direction: row;
            flex-wrap:nowrap;
        }
        &__elemento {
            width:15.5%;
        }
    }
    .destacados {
        &__container {
            display:flex;
            flex-direction:row;
            flex-wrap:wrap;
            justify-content: space-between;
        }
    }
    .propiedad {
        flex-basis:49%;
    }
    .tasaciones {
        height: em(65px);
        display:flex;
        align-items: center;
        &__contenedor {
            max-width:700px;   
        }
        &__imagen {
            height:130%;
        }
    }
    .contacto,.links,.recientes {
        flex-basis:40%;
        padding-left:0;
        padding-right:0;
        padding-top:0;
    }

    .navegacion {
        display:flex;
        background:none;
        position:relative;
        top:0;
        right:0;
        border:none;
        padding:0;
        margin:0;
        width: auto;
        &__contenedor {
            display:flex;
            flex-direction:row;
            align-items: center;
            flex-wrap:nowrap;
            @include gradiente;
            font-size:em(13px);
            padding:0;
            margin:0;
            &::before {
                content:"";
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 0 0 em(35px) em(35px);
                border-color: transparent transparent rgba(98,185,255,1) transparent;
                transform: translateX(-99%);
            }
        }
        &__link {
            text-decoration:none;
            color:white;
            padding: em(11px) em(25px);
            border-right:1px solid rgba(255,255,255,0.3);
        }
        &__elemento {
            display:flex;
            justify-content: center;
            margin:0;
            padding:0;
            font-size: em(12px);
            display:flex;
            justify-content: center;
            flex-direction:row;
            border:none;
            width:auto;
            &--first {
                margin-top: 0;
                justify-content: flex-start;
            }
            &:nth-child(2n) {
                background: none;
            }
            
        }
    }
    .main-header__button {
        display:none;
    }

    .buscador {
        &__formulario {
            padding-top: em(20px);
        }
        &__elemento-select {
            flex-basis: 23%;
        }
        &__elemento-boton { 
            flex-basis: 23%;
        }
    }
    .tasaciones {
        &__contenido {
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
        }
        &__titulo {
            flex-grow: 1;
            text-align:center;
            letter-spacing: em(1.85px);
        }
        &__cta {
            margin:0;
            padding:em(15px) em(35px);
        }
    }
    .footer {
        padding-top: em(50px);
        &__container {
            flex-direction: row;
            justify-content: space-around;
        }
    }
    
    .copyright {
        margin-top: em(50px);
    }
}