$azul:#1C3680;
$azul-claro:rgb(98,185,255);
$color-icono-menu : gray;
$negro: rgba(0,0,0,0.16);
$negro-medio:rgba(0,0,0,0.65);
$negro-oscuro: rgba(0,0,0,0.8);
$blanco: rgba(245,245,245,1);
$gris: rgba(255,255,255,0.8);

@function em($size) {
    $emSize: $size / 16px;
    @return #{$emSize}em;
}

@mixin gradiente { 
    background: rgb(98,185,255);
    background: linear-gradient(90deg, rgba(98,185,255,1) 48%, rgba(28,54,128,1) 100%);
}