$azul:#1C3680;
$azul-claro:rgb(98,185,255);
$color-icono-menu : gray;
$negro: rgba(0,0,0,0.16);
$negro-medio:rgba(0,0,0,0.65);
$negro-oscuro: rgba(0,0,0,0.8);
$blanco: rgb(245,245,245);
$blanco-oscuro: #e6e6e6;
$gris: rgba(255,255,255,0.8);
$container-width: 1170px;

@function em($size) {
    $emSize: $size / 16px;
    @return #{$emSize}em;
}

@mixin gradiente { 
    background: rgb(98,185,255);
    background: linear-gradient(90deg, rgba(98,185,255,1) 48%, rgba(28,54,128,1) 100%);
}

// media queries
$breakpoints:( 'sm':576px, 'lg':767px, 'xl':1025px, 'xxl':1440px , '4k':2560px);
@mixin mq($break) {
    $value: map-get($breakpoints, $break);
    $sm: map-get($breakpoints, 'sm');
    @if $value < $sm {
        @media (max-width: $value) {
            @content;
        }
    }
    @else {
        @media (min-width: $value) {
            @content;
        }
    }
}